.sidebarNav {
    width: 8vw;
    position: absolute;
    background-color: black;
    height: 92vh;
    text-align: center;
}

.sidebarList {
    width: 8vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.sidebarIcon {
    padding-top: 16px;
}

.copyright {
    font-size: 12px;
    display: flex;
    color: white;
    width: 200px;
    rotate: 270deg;
    margin-left: -58px;
    margin-top: -20px;
}