.sidebarNav {
    width: 100px;
    background-color: black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebarList {
    height: 80%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.sidebarIcon {
    padding-top: 16px;
}

.copyright {
    display: flex;
    color: white;
    width: 200px;
    rotate: 270deg;
    margin-left: -50px;
    margin-top: -20px;
}